<!-- beijing -->

      <div class="panel panel-default" style="margin-top: 30px;">
      <!-- Default panel contents -->
        <div class="panel-heading">北京</div>
           <table class="table table-hover table-striped">
             <thead>
                 <tr>
                     <td class="col-md-1">招聘职位</td>
                     <td class="col-md-1">收藏</td>
                     <td class="col-md-1">点赞</td>
                     <td class="col-md-1">城市</td>
                     <td class="col-md-1">起薪</td>
                     <td class="col-md-1">挑战薪资</td>
                     <td class="col-md-1">刊登时间</td>
                 </tr>
             </thead>
             <tbody>
             <%= render :partial => "city_item", :collection => @bj, :as => :job %>
             </tbody>
           </table>
       </div>
<!-- beijing -->
