<div class="col-md-10 col-centered">
  <h3>姓名：</h3>
  <p>刘华佼 <p>
  <h3>坐标：</h3>
  <p>杭州</p>
  <h3>Blog：</h3>
  <a href="http://dumpling001-blog.logdown.com/">dumpling001</a>
  <h3>微信公众号：</h3>
  LotusBloomsQuietly（亮荷）
  <h3>生命故事：</h3>
  </p>做过多年测试，经历过台资、港资、国企、私企、外企、外包公司，测试过笔记本电脑主板、汽车音响、计量电能表芯片、智能家居app。一直在努力寻求兴趣与特长相结合的领域，2015年如愿转入软件测试。希望以后能在软件世界里继续探索，施展特长、成就自我、造福社会。</p>

</p> 我擅长发现别人的长处，天生的。 其次是擅长在一抹黑的状态下做出满足别人要求的东西，比如2012年左右花了10天时间，在完全未接触flash的状况下，仅仅依靠百度搜索（那时候还不知道Google），帮别人用flash设计了一个课件，还获奖了。 再次是擅长搜索脑海里很模糊的记忆，有次，2005年时想起几年前在天涯看过一篇帖子，只记得主人公的老婆是大专生，他夸过一家鞋店的鞋质量很好（现在那家质量已经不好了），我就凭着这两点模糊记忆把那篇帖子搜出来了。 方法就是好奇心加多次尝试。</p>
</div>
