  <div class="jumbotron">
    <div class= "search">
    <%= search_form_for @search do |f| %>
      <%= f.label :title_cont %>
      <%= f.search_field :title_cont %>
      <%= f.submit %>
    <% end %>
  </div>
    <h1 class="title">Ruby高薪工作</h1>
    <p class="slogan">Ruby高薪工作 是一个提供专业ruby工作机会的求职网站。</p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">查看所有工作机会</a></p>
  </div>
